{:full-name "bel/e06"
 :ns-name   "bel.e06"
 :sanitized "bel/e06"
 :name      "e06"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
